src/main/mule/logz.io.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3ebf814a-c95f-47fc-a2ac-ad7811e10788" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="logz.ioFlow" doc:id="5bc59a54-0bb1-44d2-8738-0b6cabbc6473" >
		<http:listener doc:name="Listener" doc:id="e007b47f-6884-4eee-b80a-34fbff7da4e9" config-ref="HTTP_Listener_config" path="/logz"/>
		<logger level="INFO" doc:name="Logger" doc:id="cef10a9a-8f9b-4054-a9a7-39b095f03c26" message="Payload Recieved as input : #[payload]" category="com.mulesoft.ps.transaction"/>
	</flow>
</mule>
